{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }


  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }

</style>

<body>
	<div class='text-center'>
		<h2>{{ title }}</h2>
			<p>{{ content }}</p>

		<div class='col'>
			<img src="{% static 'img/logo_supertech.jpg' %}" class='img-fluid' />
			<p>{{ content }}</p>
			</div>
		<p>Encontre os melhores produtos com os melhores preços.</p>
		<a href="produtos" class="btn btn-outline-success">Ver Produtos</a>
		{% if request.user.is_authenticated %}
			<div class='text-center'>
			<div class='row'>
			<div class='col'>
				<h1>Premium</h1>
				<p>{{ premium_content }}</p>
			</div>
			</div>
			</div>
		{% endif %}
    </div>

	<footer>
		<p>Todos os direitos reservados &copy; 2023 Minha Loja</p>
	</footer>
	</html>
</body>
{% endblock %}