{% extends "base.html" %}
{% block content %}

<style>

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

</style>

<div class="card bg-light">
  <h4 class="card-title mt-3 text-center">Login</h4>
    <form method="POST"> 
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </form>
  </h4>
</div>
{% endblock %}


