{% extends "base.html" %} 
{% block content %}


<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Criar Conta</h4>
    <form method="POST"> 
        {% csrf_token %}
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
             <input type="text" name="username" class = "form-control" required="" id="id_username">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
             <input type="email" name="email" class="form-control" required="" id="id_email">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" name="password" class="form-control" required="" id="id_password" aria-autocomplete="list">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
    	    <div class="input-group-prepend">
		        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		    </div>
            <input type="password" name="password2" class="form-control" required="" id="id_password2">
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Criar conta  </button>
        </div> <!-- form-group// -->
    </form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

{% endblock %}