<div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-expanded-width u-grey-5 u-product u-product-1">
    <div class="u-container-layout u-container-layout-1"><!--product_image-->
      <img src="//images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/8be94b5c0c3c5c8885f3f123/pexels-photo-1464625.jpeg" alt="" class="u-image u-image-default u-product-control u-image-1" data-image-width="750" data-image-height="750"><!--/product_image-->
      <div class="u-align-center u-container-style u-expanded-width-md u-group u-shape-rectangle u-white u-group-1">
        <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-container-layout-2"><!--product_title-->
          <h2 class="u-product-control u-text u-text-default u-text-1">
            <a class="u-product-title-link" href="#"> <!-- - product_title_content ---> Amostra de produto <!-- - / product_title_content ---> </a>
          </h2><!--/product_title--><!--product_price-->
          <div class="u-product-control u-product-price u-product-price-1">
            <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
              <div class="u-hide-price u-old-price" style="text-decoration: line-through !important;" wfd-invisible="true"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
              <div class="u-price" style="font-size: 4.5rem; font-weight: 700;"><!--product_regular_price_content-->$9.95<!--/product_regular_price_content--></div><!--/product_regular_price-->
            </div>
          </div><!--/product_price--><!--product_content-->
          <div class="u-product-control u-product-desc u-text u-text-grey-15 u-text-2"><!--product_content_content-->
            <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p><!--/product_content_content-->
          </div><!--/product_content--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
          <a href="https://nicepage.com/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-product-control u-btn-1"><!-- - product_button_content ---> Adicionar ao carrinho <!-- - / product_button_content ---></a><!--/product_button-->
        </div>
      </div>
    </div>
  </div>